html,
body {
  -webkit-font-smoothing: antialiased;
  background-color: #333333;
  box-sizing: border-box;
  color: #fff;
  font-size: 16px;
  max-width: 100%;
  overflow-x: hidden;
  width: 100%;
}

svg {
  min-height: 20px;
  min-width: 20px;
}
